.image1-page1 {
    position: absolute;
    top: 30%;
    left: 17%;
    width: 20%;
    height: 23%;
    z-index: 1;
    transform: translate(-50%, -50%);
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    animation: image1-intro 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: backwards;
}

.image1-page1:hover .vid-bg{
    box-shadow: 0px 0px 8px rgb(49, 44, 88);
    background-color: rgb(255, 248, 181);
}

.image2-page1 {
    position: absolute;
    top: 30%;
    left: 39%;
    width: 20%;
    height: 23%;
    transform: translate(-50%, -50%);
    animation: image1-intro 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0.05s;
    animation-fill-mode: backwards;
}

.image2-page1:hover .vid-bg{
    box-shadow: 0px 0px 8px rgb(49, 44, 88);
    background-color: rgb(255, 248, 181);
}

.image3-page1 {
    position: absolute;
    top: 30%;
    left: 61%;
    width: 20%;
    height: 23%;
    transform: translate(-50%, -50%);
    animation: image1-intro 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s;
    animation-fill-mode: backwards;
}

.image3-page1:hover .vid-bg{
    box-shadow: 0px 0px 8px rgb(49, 44, 88);
    background-color: rgb(255, 248, 181);
}

.image4-page1 {
    position: absolute;
    top: 30%;
    left: 83%;
    width: 20%;
    height: 23%;
    transform: translate(-50%, -50%);
    animation: image1-intro 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0.15s;
    animation-fill-mode: backwards;
}

.image4-page1:hover .vid-bg{
    box-shadow: 0px 0px 8px rgb(49, 44, 88);
    background-color: rgb(255, 248, 181);
}

.image5-page1 {
    position: absolute;
    top: 58%;
    left: 17%;
    width: 20%;
    height: 23%;
    transform: translate(-50%, -50%);
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    animation: image2-intro 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
    animation-fill-mode: backwards;
}

.image5-page1:hover .vid-bg{
    box-shadow: 0px 0px 8px rgb(49, 44, 88);
    background-color: rgb(255, 248, 181);
}

.image6-page1 {
    position: absolute;
    top: 58%;
    left: 39%;
    width: 20%;
    height: 23%;
    transform: translate(-50%, -50%);
    animation: image2-intro 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s;
    animation-fill-mode: backwards;
}

.image6-page1:hover .vid-bg{
    box-shadow: 0px 0px 8px rgb(49, 44, 88);
    background-color: rgb(255, 248, 181);
}

.image7-page1 {
    position: absolute;
    top: 58%;
    left: 61%;
    width: 20%;
    height: 23%;
    transform: translate(-50%, -50%);
    animation: image2-intro 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
    animation-fill-mode: backwards;
}

.image7-page1:hover .vid-bg{
    box-shadow: 0px 0px 8px rgb(49, 44, 88);
    background-color: rgb(255, 248, 181);
}

.image8-page1 {
    position: absolute;
    top: 58%;
    left: 83%;
    width: 20%;
    height: 23%;
    transform: translate(-50%, -50%);
    animation: image2-intro 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0.35s;
    animation-fill-mode: backwards;
}

.image8-page1:hover .vid-bg{
    box-shadow: 0px 0px 8px rgb(49, 44, 88);
    background-color: rgb(255, 248, 181);
}

.image9-page1 {
    position: absolute;
    top: 85%;
    left: 17%;
    width: 20%;
    height: 23%;
    transform: translate(-50%, -50%);
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    animation: image3-intro 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
    animation-fill-mode: backwards;
}

.image9-page1:hover .vid-bg{
    box-shadow: 0px 0px 8px rgb(49, 44, 88);
    background-color: rgb(255, 248, 181);
}

.image10-page1 {
    position: absolute;
    top: 85%;
    left: 39%;
    width: 20%;
    height: 23%;
    transform: translate(-50%, -50%);
    animation: image3-intro 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0.45s;
    animation-fill-mode: backwards;
}

.image10-page1:hover .vid-bg{
    box-shadow: 0px 0px 8px rgb(49, 44, 88);
    background-color: rgb(255, 248, 181);
}

.image11-page1 {
    position: absolute;
    top: 85%;
    left: 61%;
    width: 20%;
    height: 23%;
    transform: translate(-50%, -50%);
    animation: image3-intro 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
    animation-fill-mode: backwards;
}

.image11-page1:hover .vid-bg{
    box-shadow: 0px 0px 8px rgb(49, 44, 88);
    background-color: rgb(255, 248, 181);
}

.image12-page1 {
    position: absolute;
    top: 85%;
    left: 83%;
    width: 20%;
    height: 23%;
    transform: translate(-50%, -50%);
    animation: image3-intro 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0.55s;
    animation-fill-mode: backwards;
}

.image12-page1:hover .vid-bg{
    box-shadow: 0px 0px 8px rgb(49, 44, 88);
    background-color: rgb(255, 248, 181);
}

.video {
    opacity: 1;
    width: 0%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s;
}

@keyframes image1-intro {
    0% {
        top: 35%;
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    100% {
        top: 30%;
    }
}

@keyframes image2-intro {
    0% {
        top: 63%;
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    100% {
        top: 58%;
    }
}

@keyframes image3-intro {
    0% {
        top: 88%;
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    100% {
        top: 85%;
    }
}