.header1 {
    animation: header1 0.5s cubic-bezier(0.025, 0.82, 0.065, 1) ;
    text-align: center;
    font-family: Product-Black;
    font-size: 60px;
    color: white;
    letter-spacing: 1px;
}

.sidebar-btn {
    width: 10px;
    transform: translate(10px, 0px);
    display: block;
    position: absolute;
    top: 25px;
}

@font-face {
    font-family: Product-Bold;
    src: url(fonts/Product_Sans_Bold.ttf);
}

@font-face {
    font-family: Product-Black;
    src: url(fonts/ProductSans-Black.ttf);
}

@keyframes header1 {
    0% {
        transform: translateY(-300px);
    }

    100% {
        transform: translateY(0px);
    }
}